* { /* in case I need it */

}

:root { /* in case I need it */

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(117, 79, 35);
}

#high-score {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.7vw;
    border-bottom: 2px solid black;
    margin-right: 60px;
    margin-left: 60px;
}

header {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    font-size: large;
}

header a {
  text-decoration: underline;
  color:hsl(0, 0%, 0%);

}

main {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.7vw;
}

h2 {
  text-align: center;
  font-size: 1.7vw;
}

#startBtn {
  border: none;
  background-color: rgb(63, 167, 63); 
  border-radius: 25px;
  color: hsl(0, 0%, 0%);
  display: inline-block;
  font-size: 22px;
  font-weight: 600;  
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

#questionChoices {
  display: none;
  justify-content: center;
}

.questionChoices {
  border: none;
  background-color: rgb(63, 167, 63); 
  border-radius: 25px;
  color: hsl(0, 0%, 0%);
  display: flex;
  font-size: 22px;
  font-weight: 600;  
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.score-screen {
  display: none;
  margin-top: 5%; 
  margin-left: 45%;
}

form {
  display: none;
}

.initials {
  display: flex;
  justify-content: center;
}

#highscore {
  padding: 10px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  font-size: 1.5vw;
  font-weight: bold;
}

@media screen and (max-width: 900) {
    
}